.header {
  background-color: #ddd;
}
.wrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
}

.logo img {
  width: 100px; height: 100px;
}
.search form {
  margin-top: 34px;
}
.search form input[matInput] {
  width: 380px;
  font-size: 16px;
  padding: 6px;
}
.login button[mat-button] {
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  overflow: hidden;
  background-color: rgb(33, 50, 74);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  padding: 0 10%;
}
.menu .menu-item {
  text-decoration: none;
  float: left;
  display: block;
  color: #aaa;
  padding: 8px 20px;
  border: solid 3px transparent;
}
.menu .menu-item:hover, .menu .menu-item:focus {
  color: rgb(23, 174, 90);
  border-bottom-color: rgb(23, 174, 90);
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown button {
  outline: none;
  font: inherit;
  color: #aaa;
  background-color: transparent;
  padding: 8px 20px;
  border: solid 3px transparent;
}
.dropdown button:hover {cursor: pointer;}
.dropdown button:hover, .dropdown button:focus {
  color: rgb(23, 174, 90);
  border-bottom-color: rgb(23, 174, 90);
}
.dropdown-content {
  visibility: hidden; opacity: 0;
  position: absolute;
  background-color: #f3f3f3;
  border: solid 1px #ddd;
  z-index: 1;
  transition: all 0.4s;
}
.dropdown:hover .dropdown-content {
  visibility: visible; opacity: 1;
}
.dropdown-content .dropdown-item {
  float: none;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: rgb(33, 50, 74);
}
.dropdown-content .dropdown-item:hover {
  color: rgb(23, 174, 90);
  background-color: rgb(33, 50, 74);
}